<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.mgr.dao.SysCallRelaGuiDao">

    <select id="getSysName" resultType="com.sys.mgr.model.NodeInfoVo">
        select t.now_route_node as nowRouteNode,
        (select m.node_name from node_info m where t.now_route_node = m.node_code limit 1) as nowRouteName,
        t.next_route_node as nextRouteNode,
        (select n.node_name from node_info n where t.next_route_node = n.node_code limit 1) as nextRouteName,
        t.yn
        from sys_call_rela t
    </select>

    <select id="getSysSuccCount" resultType="java.lang.Integer">
        select count(*) from trade_detail
        where zt = 0 and mbxt=#{sysname}
        <if test="startTime != null and startTime !=''">
            and ts &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and ts &lt;= #{endTime}
        </if>
    </select>


    <select id="getSysFailCount" resultType="java.lang.Integer">
        select count(*) from trade_detail
        where zt = 1 and mbxt=#{sysname}
        <if test="startTime != null and startTime !=''">
            and ts &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and ts &lt;= #{endTime}
        </if>
    </select>


</mapper>
