<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.mgr.dao.SysCallRelaGuiDao">

    <select id="getSysName" resultType="java.lang.String">
        select ni.node_name
        from sys_call_rela scr
        left join node_info ni
        on scr.now_route_node=ni.node_code
        where scr.yn=0 and ni.node_name is not null
    </select>


    <select id="getSysSuccCount" resultType="java.lang.Integer">
        select count(*) from trade_detail
        where zt = 0 and mbxt=#{sysname}
    </select>


    <select id="getSysFailCount" resultType="java.lang.Integer">
        select count(*) from trade_detail
        where zt = 1 and mbxt=#{sysname}
    </select>


</mapper>
