<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.mgr.dao.SysServiceGuiDao">

    <select id="getServiceName" resultType="com.sys.mgr.model.NodeInfoVo">
        select ss.service_name as nextRouteNode,ss.node_code as nowRouteNode,ss.status as nowRouteStatus,
        (select n.status from sys_service ss LEFT JOIN node_info n on ss.node_code=n.node_code limit 1) as nextRouteStatus
        from sys_service ss
        where  ss.node_code=#{nodecode}
    </select>


    <select id="getSuccCount" resultType="java.lang.Integer">
        select count(*) from trade_detail
        where zt = 0 and jkmc=#{serviceName}
        <if test="startTime != null and startTime !=''">
            and ts &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and ts &lt;= #{endTime}
        </if>
    </select>


    <select id="getFailCount" resultType="java.lang.Integer">
        select count(*) from trade_detail
        where zt = 1 and jkmc=#{serviceName}
        <if test="startTime != null and startTime !=''">
            and ts &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and ts &lt;= #{endTime}
        </if>
    </select>


</mapper>
