<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.mgr.dao.TradeDetailDao">

    <select id="getList" resultType="com.sys.mgr.model.TradeDetail">
        SELECT `id` ,`uuid`,`jkmc`, `qqxt`,`mbxt`,`mbjk`,`qqxml`,`fhxml`,`xyxml`,`ycxx`,
        `jdwz`,`zt`,`lrrq`,`jyhs`
        FROM `trade_detail`
        limit #{offset},#{rows}
    </select>

    <select id="getCount" resultType="java.lang.Long">
        SELECT count(*)
        FROM `trade_detail`
    </select>

    <select id="getXMl" resultType="java.lang.String">
        SELECT
        <if test="type!= null and type=='qqxml'">
            qqxml
        </if>
        <if test="type!= null and type=='fhxml'">
            fhxml
        </if>
        <if test="type!= null and type=='xyxml'">
            xyxml
        </if>
        FROM `trade_detail`
        where id =#{id}
    </select>

</mapper>
